# Settings.
resolution-mode=time-based
save-prefix=
shared-workspace-lockfile=false
use-node-version=18.15.0

# <remove-after-pnpm-8.0.0>
auto-install-peers=true
dedupe-peer-dependents=true
resolve-peers-from-workspace-root=true
save-workspace-protocol=rolling
# </remove-after-pnpm-8.0.0>
