# Settings.
save-prefix=

# Authorization. Make sure you setup those variables in your home directory.
//registry.npmjs.org/:_authToken=${NPM_ACCESS_TOKEN}
//${RR_INTERNAL_REGISTRY_URL}:_authToken=${GITLAB_ACCESS_TOKEN}

# Registries for scopes packages.
@radrat-internal:registry=https://${RR_INTERNAL_REGISTRY_URL}
